body{
    display: block;

    background: #fff;

    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;

    height: 100%;
    margin: 0;
    padding: 0;

    min-width: 400px;
}
div{
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.general{
    flex-shrink: 0;
    box-sizing: border-box;
}
.nave{
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.cabecera{
    display: inline-block;
    flex-grow: 1;
}
.subcabecera{
    min-width: auto;
    font: 13px/27px Roboto,Arial,sans-serif;
    z-index: 986;
    height: 48px;
    color: black;
    position: relative;
    transition: box-shadow 250ms;
}
.menu{
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
    display: flex;
    font: 13px/27px Roboto,Arial,sans-serif;
    z-index: 986;
    color: black;
    min-width: 320px;
    position: relative;
    transition: box-shadow 250ms;
}
.opcion{
    display: inline-block;
    font-family: arial,sans-serif;
    padding-left: 15px;
}
.vinc{
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}
a.vinc{
    color: rgba(0,0,0,.87);
}
.menu4{
    display: inline-block;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 4px;
    flex: 0 0 auto;
    justify-content: flex-end;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;
}
.btnmenu{
    display: inline-block;
    height: 48px;
    padding: 4px;
    padding-left: 22px;
    position: relative;
    vertical-align: middle;
    height: 100%;
    justify-content: flex-end;
    border-radius: 50%;
}
.imgmenu{
    object-fit: contain;
}
.botones{
    margin-top: 8px;
    max-height: 15px;
    max-width: 15px;
}
.perfil{
    max-height: 30px;
    max-width: 30px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}
.contenedor{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: 198px;
}
.googlelogo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
.boxsearch{
    padding: 20px;
    max-height: 160px;
}
.box{
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}
.gbox{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}
.gboxs{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.btnsearch{
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
.lupa{
    margin-top: 3px;
    color: #9aa0a6;
    display: inline-block;
    fill: currentColor;
    position: relative;
}
.texts{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.entrada{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
}
.boxbuttons{
    height: 70px;
    padding-top: 18px;
}
.lucky{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.prefooter{
    flex-grow: 1;
    height: 365px;
}
.footnav{
    background: #f2f2f2;
}
form{
    display: block;
    margin-top: 0em;
}
.region{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}
.opcion1{
    padding: 0 20px;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.enlaces{
    display: block;
    padding: 15px;
    white-space: nowrap;
}
.enlaces, a.enlaces{
    color: #70757a;
}